.landing-introduction {
	display: flex; 
	margin-bottom: 0px;
}

.welcome-message {
	margin: 0;
}

.wrap {
	flex-wrap: wrap;
}

.mar20 {
	margin: 20px 0;
}

.introduction-image-container {
	width: 100%;
	max-width: 800px;
	margin-right: 20px;
	margin-bottom: 0;
	display: flex;
}

.homepage-gallery-container {
	width: 100%;
}

.homepage-gallery {
	display: grid;
	grid-template-columns: 358fr 614fr 530fr;
	grid-gap: 20px;
	width: 100%;
	margin-top: 20px;
}

.column {
	width: 100%;
	grid-gap: 20px;
	display: flex;
	flex-wrap: wrap;
}


@media screen and (max-width: 900px) {
	section {
		flex-wrap: wrap;
	}
	.introduction-image-container {
		margin-right: 0;
		margin-bottom: 20px;
	}	
}